* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Ubuntu Light, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button {
    padding: 0 7px;
    background-color: transparent;
    color: #ffffff;
	min-width: 20px;
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
#workspaces button:hover {
	background-color: rgba(20, 20, 20, 0.5);
}
#workspaces button.active {
	background-color: rgba(20, 20, 20, 0.5);
	border-bottom: 3px solid #fff;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
    margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* modules on the right side */
#clock,
#cpu,
#memory,
#temperature,
#pulseaudio,
#tray,
#mode,
#custom-timer,
#custom-gpu-usage,
#custom-gpu-temp,
#custom-separator,
#custom-right-hemisphere-left {
	background-color: rgba(51, 204, 255, 0.3);
    padding: 0 4px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .1s;
}

#custom-separator {
	color: #aaa;
	font-size: 20px;
}

#pulseaudio {
    transition-property: background-color;
    transition-duration: .3s;
}
#pulseaudio:hover {
	background-color: rgba(51, 204, 255, 0.6);
    transition-property: background-color;
    transition-duration: .3s;
}
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#cpu {
    transition-property: background-color;
    transition-duration: .3s;
}
#cpu:hover {
	background-color: rgba(51, 204, 255, 0.6);
	transition-property: background-color;
    transition-duration: .3s;
}

#temperature {
    transition-property: background-color;
    transition-duration: .3s;
}
#temperature:hover {
	background-color: rgba(51, 204, 255, 0.6);
	transition-property: background-color;
    transition-duration: .3s;
}
#temperature.critical {
    background-color: #eb4d4b;
}

#memory {
    transition-property: background-color;
    transition-duration: .3s;
}
#memory:hover {
	background-color: rgba(51, 204, 255, 0.6);
	transition-property: background-color;
    transition-duration: .3s;
}


#custom-gpu-usage {
    transition-property: background-color;
    transition-duration: .3s;
}
#custom-gpu-usage:hover {
	background-color: rgba(51, 204, 255, 0.6);
	transition-property: background-color;
    transition-duration: .3s;
}
#custom-gpu-temp {
    transition-property: background-color;
    transition-duration: .3s;
}
#custom-gpu-temp:hover {
	background-color: rgba(51, 204, 255, 0.6);
	transition-property: background-color;
    transition-duration: .3s;
}

#clock {
    transition-property: background-color;
    transition-duration: .3s;
}
#clock:hover {
	background-color: rgba(51, 204, 255, 0.6);
    transition-property: background-color;
    transition-duration: .3s;
}

label:focus {
    background-color: #000000;
}

#custom-media {
    background-color: #66cc99;
	padding: 0 10px;
    color: #2a5c45;
    min-width: 100px;
	border-radius: 0px 0px 30px 0px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
	padding-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#keyboard-state {
    border-bottom: 3px solid #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-center-hemisphere-left {
	min-width: 25px;
	background-color: rgba(20, 20, 20, 0.5);
	border-radius: 0px 0px 0px 30px;
	border-bottom: 3px solid #FFF;
	border-left: 3px solid #FFF;
}
#custom-center-hemisphere-right {
	min-width: 25px;
	background-color: rgba(20, 20, 20, 0.5);
	border-radius: 0px 0px 30px 0px;
	border-bottom: 3px solid #FFF;
	border-right: 3px solid #FFF;
}
#custom-right-hemisphere-left {
	min-width: 25px;
	border-radius: 0px 0px 0px 30px;
}

#submap {
	background-color: rgba(20, 20, 20, 0.5);
	border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
