[Unit]
Description=Service running periodically to update data for the soccer widget
After=network.target

[Service]
Type=oneshot
WorkingDirectory=%h/.local/share/soccer/
ExecStart=/bin/bash %h/.local/share/soccer/update_soccer_data

[Install]
WantedBy=default.target
