[Desktop Entry]
Version=1.0
Name=Teams
Comment=Teams opened within Google Chrome
GenericName=Conference Tool
Exec=google-chrome-stable --kiosk https://teams.live.com/v2
Icon=teams-icon
Terminal=false
Type=Application
X-MultipleArgs=false
